<html>
 {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {# Display a form #}
<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="OK" %}
    {% bootstrap_button button_type="reset" content="Cancel" %}

</form>
<head>
    <title>
        test
    </title>
    {% load static %}
    <a href="index.html">index.html</a>
    <link rel="stylesheet" type="text/css" href="../../static/site.css" />

</head>

<body>



    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <select name="post_categories" class="filter-selectbox">
        <option value="zero">"Zero"</option>
        <option value="one">"One"</option>
        <option value="two">"Two"</option>
    </select>

    <select name=teacher class="filter-selectbox">
        {% for Name in teacher %}
        <option value="{{ teacher.Name }}">{{ teacher.Name }}</option>
        {% endfor %}
    </select>



    <br>
    <a href="{% url 'input' %}">Add a new teacher :P</a>
    <br>

    <!--  <br>
        <form method="post" class="form-group">
            {% csrf_token %}
            <div class="form-group col-md-12 mb-3">
                <label for="{{ form.Name.label }}">{{ form.Name.label }}</label>
                <input type="text" class="form-control" id="{{ form.Name.auto_id }}" name="{{ form.Name.name }}">
                {{ form.Name }}
            </div>
            <div class="form-group col-md-12 mb-3">
                <label for="{{ form.Area.label }}">{{ form.Area.label }}</label>
                {{ form.Area }}
            </div>
            <hr class="mb-4">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit New Car</button>
        </form>
        <br>-->

    <strong>Teachers!</strong>
    {% if
    content %}
    bl
    <table>
        <tr>
            <th>Name</th>
            Te
            <th>Teaching Area</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>
                {{
teac
h.Name
                }}
            </td>
            ac
            re
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No DATA!</strong>
    {% endif %}
</body>
</html>
