<html>
<head>
    <title>
        test
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../static/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>This is a heading</h1>


        <p></p>
        <p>--------------------</p>
        <p></p>
        <strong>Teacher</strong>       <strong>Unit</strong>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <strong>Area</strong>

        <form method="post">
            {% csrf_token %}
            {{ Areas.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <strong>Unit</strong>
        <form method="POST">
            {% csrf_token %}
            {{ Units.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <p></p>
        <p>--------------------</p>
        <p></p>
        <strong>copy for</strong>  <form method="POST">
            {% csrf_token %}
            {{ Units.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <button type="submit" class="btn btn-success">Submit</button>
        <input type='checkbox'>{{ member }} <strong>published</strong>
        <input type='checkbox'>{{ member }} <strong>Is vet</strong>
        <input type='checkbox'>{{ member }} <strong>Print for Q1 students</strong>

        <p><a href="{% url 'report'%}">PDF report</a></p>

        <br>
        <a href="{% url 'PDF_VIEW' %}">View PDF</a>
        <br>

        <br>
        <a href="{% url 'input' %}">Add a new teacher :P</a>
        <br>

        <br>
        <a href="{% url 'login' %}">login</a>
        <br>



        <form method="post">
            {% csrf_token %}
            {{ info_extra.as_p }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
    </html>
