<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no" >

    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- semantic UI-->
    <link rel="stylesheet" type='text/css' href=" https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>
        Title
    </title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="../../static/site.css" />
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PythonGuides</a>
       

    </nav>






    <strong>Teachers!</strong>
    {% if content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No DATA!</strong>
    {% endif %}
</body>
</html>